/* Universal Styles */

body {
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid black;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 9px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1px;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}
